@model ToDoFinal.Models.Category
<div class="list clicklist">
    <h4 data-name="@Model.Name.ToUpper()">@Model.Name.ToUpper()</h4>
    <span data-id="@Model.Id" class="deleteIon glyphicon glyphicon-remove-circle"></span>
</div>
